---
import Layout from '../layouts/Layout.astro';
---

<Layout title="服务协议">
    <section class="mb-8">
        <h1 class="mb-4 text-2xl font-semibold">服务协议</h1>
        <p>使用本网站即表示您同意我们的使用条款。请遵守社区规范与法律法规。</p>
    </section>
</Layout>
