---
import Logo from '../components/Logo.astro';

const navItems = [
    { linkText: '首页', href: '/' },
    { linkText: '社区/问答', href: '/community' },
    { linkText: 'AI问答', href: '/ask' },
    { linkText: '投稿', href: '/submit' },
    { linkText: '消息', href: '/messages' },
    { linkText: '反馈', href: '/feedback' },
    { linkText: '关于', href: '/about' },
    { linkText: '登录/注册', href: '/auth' },
    { linkText: '个人中心', href: '/profile' }
];
---

<nav class="flex flex-wrap items-center gap-4 pt-6 pb-16 sm:pt-12 sm:pb-24">
    <a href="/">
        <Logo />
    </a>
    {
        !!navItems?.length && (
            <ul class="flex flex-wrap gap-x-4 gap-y-1">
                {navItems.map((item) => (
                    <li>
                        <a href={item.href} class="inline-block px-1.5 py-1 sm:px-3 sm:py-2">
                            {item.linkText}
                        </a>
                    </li>
                ))}
            </ul>
        )
    }
</nav>
